.sidebar{
  position: fixed;
  background-color:black;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 75px;
  padding-top: 5px;
  border-right: 1px solid royalblue;

  z-index: 200;
}

.sidebaritems{
  cursor: pointer;
  height: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebaritems:hover{
  background-color: rgb(34, 34, 34);
}

.sidebaritems img{
  height: 25px;
  margin-bottom: 5px;
}
.sidebaritems div{
  font-family: Arial;
  font-size: 10px;
  font-weight: 400;
  color: white;
}
